.fancy-image {
background-image: https://www.google.com/imgres?imgurl=http%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DORT.TH_470633631%26pid%3D1.12%26eid%3DG.470633631&imgrefurl=http%3A%2F%2Fwww.bing.com%2Fimages%2Fsearch%255C%3Fq%3Dusa%2Bmap&docid=BJnOzHXsxNB6aM&tbnid=pBNS94IUuy7O3M%3A&vet=10ahUKEwivlOPwyP_WAhWIiVQKHXfJBsYQMwjuASgNMA0..i&w=3587&h=1358&bih=759&biw=1536&q=images&ved=0ahUKEwivlOPwyP_WAhWIiVQKHXfJBsYQMwjuASgNMA0&iact=mrc&uact=8;
}
#mc_embed_signup{
  border: solid 10px black;
  padding-left: 20px;
  width: 400px;
  height: 400px;
  margin-left: 50px;
}
.indicates-required{

}

.mc-field-group {

}
