.penny:hover {
	background-image: url("./images/pennywise_dancing.gif");
	height: 50%;
	width: 50%;
}

p { 
	font-family: 'Permanent Marker', cursive;
 }
.penny {

	background-image: url("./images/pennywise_balloon.png");

	height: 90%;
	width: auto;
}

body {
	background-color: black;
}
